@media (min-width: 800px) and (max-width: 1000px) {
.menu {
	width: 23%;}
main, footer {
	width: 77%;
	margin-left: 23%;}
.icon_one {
  width: 43%;}
.three{
	flex-wrap: wrap;}
.block_three {
  width: 95%;}
}
@media (min-width: 650px) and (max-width: 799px){
.menu{
	display: none;}
.burger{
	display: block;}
main, footer{
	width: 100%;
	margin-left: 0;}
main h2{
	padding-left: 60px;}
.icon_one {
  width: 43%;}
.three{
	flex-wrap: wrap;}
.block_three {
  width: 95%;}
}
@media (min-width: 500px) and (max-width: 649px){
.menu{
	display: none;}
.burger{
	display: block;}
main, footer{
	width: 100%;
	margin-left: 0;}
main h2{
	padding-left: 60px;}
.icon_one {
  width: 41%;}
.two{
	flex-wrap: wrap;}
.block_two {
  width: 95%;}
.three{
	flex-wrap: wrap;}
.block_three {
  width: 95%;}	
}
@media (max-width: 499px){
.menu{
	display: none;}
.burger{
	display: block;}
main, footer{
	width: 100%;
	margin-left: 0;}
main h2{
	padding-left: 60px;}
.icon_one {
  width: 90%;}
.two{
	flex-wrap: wrap;}	
.block_two {
  width: 90%;}	
.three{
	flex-wrap: wrap;}
.block_three {
  width: 90%;}		
}