@media (min-width: 800px) and (max-width: 1000px) {
.menu {
	width: 23%;}
main, footer {
	width: 77%;
	margin-left: 23%;}
.icon_one {
  width: 43%;}
.three{
	flex-wrap: wrap;
	padding-bottom: 0;
	padding-bottom: 0;}
.block_three {
	width: 95%;
	margin-top: 30px;}
.four{
	flex-wrap: wrap;}
.four_one, .four_two{
	width: 95%;}
.four_one{
	order: 1;}
}
@media (min-width: 650px) and (max-width: 799px){
.menu{
	display: none;}
.burger{
	display: block;}
main, footer{
	width: 100%;
	margin-left: 0;}
main h2{
	padding-left: 60px;}
.icon_one {
  width: 43%;}
.three{
	flex-wrap: wrap;
	padding-bottom: 0;
	padding-bottom: 0;}
.block_three {
	width: 95%;
	margin-top: 30px;}
.four{
	flex-wrap: wrap;}
.four_one, .four_two{
	width: 95%;}
.four_one{
	order: 1;}
}
@media (min-width: 500px) and (max-width: 649px){
.menu{
	display: none;}
.burger{
	display: block;}
main, footer{
	width: 100%;
	margin-left: 0;}
main h2{
	padding-left: 60px;}
.icon_one {
 	width: 41%;}
.two{
	flex-wrap: wrap;
	padding-bottom: 0;
	padding-bottom: 0;}
.block_two {
	width: 95%;
	margin-top: 30px;}
.three{
	flex-wrap: wrap;
	padding-bottom: 0;
	padding-bottom: 0;}
.block_three {
	width: 95%;
	margin-top: 30px;}	
.four{
	flex-wrap: wrap;}
.four_one, .four_two{
	width: 95%;}
.four_one{
	order: 1;}
}
@media (max-width: 499px){
.menu{
	display: none;}
.burger{
	display: block;}
main, footer{
	width: 100%;
	margin-left: 0;}
main h2{
	padding-left: 60px;}
.icon_one {
  width: 90%;}
.two{
	flex-wrap: wrap;
	padding-bottom: 0;
	padding-top: 0;}	
.block_two {
  	width: 90%;
	margin-top: 30px;}	
.three{
	flex-wrap: wrap;
	padding-bottom: 0;
	padding-top: 0;}
.block_three {
	width: 90%;
	margin-top: 30px;}	
footer ul li{
	padding: 5px;}	
.four{
	flex-wrap: wrap;}
.four_one, .four_two{
	width: 90%;}
.four_one{
	order: 1;}
}